.titulo {
    font-family: cursive;
    font-size: 60px;
    color: white;
    text-align: center;
}
body{
    background-color:blueviolet;
    color: azure;
    font-size: 40px;
    
}

.btt{
    background-color: transparent
    width: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    
    
}
.caixa{
    border-radius: 20px;
    border-color: rgb(0, 242, 255);
    background-color: white;
    border-width: 5px;
    width: 200px;
    height: 25px;
    color: black;
    font-family: monospace;
    font-style: bold;
    font-size: 25px;
}